.add-bg{
    background-image: url("https://i.ibb.co/bJQcxTB/View-of-Airplane-s-Wings-on-Sunset.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    
}