.banner-body{
    background-image: url("https://i.ibb.co/J7FtzXn/img-6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding-top: 20px;
}
.banner-icon{
    border: 1px solid rgb(243, 9, 9);
    padding: 8px;
    
}
.banner-icon:hover{
    background-color: red;
}
